body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../images/background.jpg");
  background-size: cover;
  font-family: "Roboto", sans-serif;
}
.row {
  width: 50%;
  margin: 0;
}
header {
  text-align: center;
  background-color: #eff0f1;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.container {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: center;
  font-size: 20px;
}
select {
  width: 300px;
  height: 36px;
  border-radius: 5px;
  border: 1px solid gray;
  background-color: white;
  text-align: center;
}
input {
  width: 300px;
  border-radius: 5px;
  border: 1px solid gray;
}
.selection {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1300px) {
  .row {
    width: 90%;
  }
  select {
    width: 100px;
  }
  .selection {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  input {
    width: 100px;
  }
}
.btn {
  font-size: large;
}
.result {
  height: 50px;
}
